

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('.rating') %></th>
      <th><%= t('.comment') %></th>
    </tr>
  </thead>
  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td>
          <%= review.rating %>
        </td>
        <td>
          <%= review.comment %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @reviews, theme: 'twitter-bootstrap-3', pagination_class: 'pagination-small pagination-centered' %>
